upstream upstream_backends {
  server {{ azure.backend_01 }}:8080;
  server {{ azure.backend_02 }}:8080;
  server {{ azure.repaire_01 }}:8080 backup;
  server {{ azure.repaire_02 }}:8080 backup;
  keepalive 100000;
}
